[tool.black]
skip-string-normalization = true

[tool.flake8]
show-source = true
max-line-length = 99
application-import-names = "wazo_calld"
ignore = [
  "E203", # whitespace before ':'
  "E501", # line too long (80 chars)
  "W503", # line break before binary operator
]
exclude = [
    ".tox",
    ".eggs",
]

[tool.isort]
profile = "black"
py_version = 311

[tool.mypy]
python_version = "3.11"
show_error_codes = true
check_untyped_defs = true
warn_unused_configs = true
ignore_missing_imports = true
enable_incomplete_feature = "Unpack"

[tool.coverage.paths]
source = [
  "wazo_calld",
  "/usr/src/wazo-calld/wazo_calld",
]
