https://github.com/rsichny/swagger-py/archive/master.zip  # the digium release does not support python3
https://github.com/wazo-platform/ari-py/archive/master.zip
https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-amid-client/archive/master.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-confd-client/archive/master.zip
https://github.com/wazo-platform/wazo-bus/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
cheroot==8.5.2
flask-cors==3.0.9
flask-restful==0.3.8
flask==1.1.2
iso8601==0.1.13
itsdangerous==1.1.0  # from flask
jinja2==2.11.3  # from flask
jsonpatch==1.25
kombu==5.0.2
markupsafe==1.1.1 # from jinja
marshmallow==3.10.0
python-consul==1.1.0
pyyaml==5.3.1  # from xivo-lib-python
requests==2.25.1
stevedore==3.2.2
werkzeug==1.0.1
