https://github.com/rsichny/swagger-py/archive/master.git  # the digium release does not support python3
https://github.com/wazo-platform/ari-py/archive/0.4.0.zip
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-confd-client/archive/master.zip
https://github.com/wazo-platform/xivo-amid-client/archive/master.zip
https://github.com/wazo-platform/xivo-bus/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/xivo-lib-rest-client/archive/master.zip
cheroot==6.5.4
flask==1.0.2
flask-restful==0.3.7
flask-cors==3.0.7
iso8601==0.1.11
kombu==4.2.1
marshmallow==3.0.0b14
python-consul==0.7.1
pyyaml==3.13  # from xivo-lib-python
requests==2.21.0
stevedore==1.29.0
