https://github.com/rsichny/swagger-py/archive/master.zip  # the digium release does not support python3
https://github.com/wazo-platform/ari-py/archive/0.4.0.zip
https://github.com/wazo-platform/xivo-test-helpers/archive/master.zip
https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-calld-client/archive/master.zip
docker-compose
kombu
nose
openapi-spec-validator
psycopg2-binary
pyhamcrest<1.10 # Version 1.10 is broken
requests
stevedore  # from wazo-calld-client
