https://github.com/rsichny/swagger-py/archive/master.zip  # the digium release does not support python3
https://github.com/wazo-platform/ari-py/archive/master.zip
https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-calld-client/archive/master.zip
https://github.com/wazo-platform/wazo-test-helpers/archive/master.zip
https://github.com/wazo-platform/wazo-amid-client/archive/master.zip
https://github.com/wazo-platform/wazo-bus/archive/master.zip
kombu
openapi-spec-validator<0.6.0  # dependency conflict on requests version (>2.31.0) with wazo clients (=2.25.1)
psycopg2-binary
pyhamcrest
pytest
requests
stevedore  # from wazo-calld-client
