Source: wazo-calld
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 dh-systemd (>= 1.5),
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 3.5

Package: wazo-calld
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 ghostscript,
 python3-asterisk-ari,
 python3-cheroot,
 python3-flask,
 python3-flask-restful,
 python3-flask-cors (>= 3.0.2),
 python3-iso8601,
 python3-kombu (>= 4.2.1-3),
 python3-marshmallow,
 python3-stevedore,
 python3-wsaccel,
 rename,
 wazo-auth-client-python3,
 wazo-confd-client-python3,
 xivo-amid-client-python3,
 xivo-bus-python3,
 xivo-lib-python-python3
Provides: xivo-ctid-ng
Replaces: xivo-ctid-ng
Conflicts: xivo-ctid-ng
Description: Wazo call server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
