Source: wazo-calld
Section: python
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.9

Package: wazo-calld
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 ghostscript,
 python3-asterisk-ari,
 python3-cheroot,
 python3-flask,
 python3-flask-restful,
 python3-flask-cors,
 python3-iso8601,
 python3-jsonpatch,
 python3-kombu,
 python3-marshmallow,
 python3-stevedore,
 python3-werkzeug,
 python3-wsaccel,
 wazo-amid-client-python3,
 wazo-auth-client-python3,
 wazo-confd-client-python3,
 wazo-bus-python3,
 xivo-lib-python-python3
Description: Wazo call server
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
