Source: xivo-ctid-ng
Section: python
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 dh-systemd (>= 1.5),
 python3-all,
 python3-setuptools
Standards-Version: 3.9.6
X-Python-Version: >= 3.5

Package: xivo-ctid-ng
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 mongooseim,
 python3-asterisk-ari,
 python3-cheroot,
 python3-flask,
 python3-flask-restful,
 python3-flask-cors (>= 3.0.2),
 python3-iso8601,
 python3-kombu,
 python3-marshmallow,
 python3-stevedore,
 python3-wsaccel,
 xivo-amid-client-python3,
 xivo-auth-client-python3,
 xivo-bus (>> 15.19),
 xivo-confd-client-python3,
 xivo-ctid-client-python3,
 xivo-ctid-ng-client-python3,
 xivo-lib-python-python3
Description: Wazo CTI server (new generation)
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This is the CTI server for Wazo Asterisk features.
 It provides presence and connection information to the Wazo
 switchboard clients.
 .
