#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=wazo-calld
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installinit:
	dh_installinit --noscripts
