[Unit]
Description=wazo-calld server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target asterisk.service rabbitmq-server.service wazo-auth.service wazo-confd.service
Before=monit.service

[Service]
ExecStartPre=/usr/bin/install -d -o www-data -g www-data /run/wazo-calld
ExecStart=/usr/bin/wazo-calld

[Install]
WantedBy=multi-user.target
