[Unit]
Description=wazo-calld server
ConditionPathExists=!/var/lib/wazo/disabled
After=network.target asterisk.service rabbitmq-server.service wazo-auth.service wazo-confd.service
StartLimitBurst=15
StartLimitIntervalSec=150

[Service]
Environment=PYTHONUNBUFFERED=TRUE
ExecStart=/usr/bin/wazo-calld
Restart=on-failure
RestartSec=5
SyslogIdentifier=wazo-calld

[Install]
WantedBy=multi-user.target
