version: '3.7'
services:
  sync:
    image: wazopbx/wait
    environment:
      TIMEOUT: ${INTEGRATION_TEST_TIMEOUT}

  amid:
    image: p0bailey/docker-flask
    ports:
      - 9491
    volumes:
      - ./amid_data:/usr/local/share/wazo-amid
      - ./ssl:/usr/local/share/ssl
    command: python /usr/local/share/wazo-amid/mock-wazo-amid.py 9491

  ari:
    image: ari-mock
    ports:
      - 5039
    volumes:
      - ./ari_data:/usr/local/share/ari
      - ./ssl/ari:/usr/local/share/ari-ssl
    environment:
      PYTHONPATH: /usr/local/share/ari
    command: gunicorn -b 0.0.0.0:5039 -k flask_sockets.worker mock_ari:app

  auth:
    image: wazopbx/wazo-auth-mock
    ports:
      - 9497
    volumes:
      - ./ssl:/usr/local/share/ssl

  confd:
    image: wazopbx/wazo-confd-mock
    ports:
      - 9486
    volumes:
      - ./ssl:/usr/local/share/ssl

  consul:
    image: p0bailey/docker-flask
    ports:
      - 8500
    volumes:
      - ./consul_data:/usr/local/share/consul
    command: python /usr/local/share/consul/mock-consul.py 8500

  calld:
    image: wazo-calld-test
    volumes:
      - ../..:/usr/src/wazo-calld
      - ./ssl:/usr/local/share/ssl
      - ./etc/wazo-calld/key.yml:/etc/wazo-calld/key.yml
      - ./etc/wazo-calld/conf.d/50-base.yml:/etc/wazo-calld/conf.d/50-base.yml
      # - "${LOCAL_GIT_REPOS}/xivo-bus/xivo_bus:/usr/local/lib/python3.7/site-packages/xivo_bus"
      # - "${LOCAL_GIT_REPOS}/xivo-lib-python/xivo:/usr/local/lib/python3.7/site-packages/xivo"
    ports:
      - 9500
    environment:
      XIVO_UUID: 08c56466-8f29-45c7-9856-92bf1ba89b92

  rabbitmq:
    image: rabbitmq
    ports:
      - 5672
    volumes:
      - type: tmpfs
        target: /var/lib/rabbitmq

  websocketd:
    image: xivo-websocketd-mock
    ports:
      - 9502
    volumes:
      - ./xivo-websocketd:/usr/local/share/websocketd
    environment:
      PYTHONPATH: /usr/local/share/websocketd
    command: gunicorn -b 0.0.0.0:9502 -k flask_sockets.worker mock_websocketd:app
