services:
  sync:
    depends_on:
      - auth
      - amid
      - ari
      - confd
      - calld
      - rabbitmq
    environment:
      TARGETS: "ari:5039 ari:5040 rabbitmq:5672 confd:9486 amid:9491 auth:9497 calld:9500"

  amid:
    image: wazoplatform/wazo-amid
    expose:
      - "9491"
    volumes:
      - "./ssl:/usr/local/share/ssl"
      - "./etc/wazo-amid:/etc/wazo-amid"
    command: "wazo-amid -d"

  ari:
    image: ari-real
    expose:
      - "5038"
    ports:
      - "5039"
    volumes:
      - "./etc/asterisk/amqp.conf:/etc/asterisk/amqp.conf"
      - "./etc/asterisk/ari.conf:/etc/asterisk/ari.conf"
      - "./etc/asterisk/asterisk.conf:/etc/asterisk/asterisk.conf"
      - "./etc/asterisk/extensions.conf:/etc/asterisk/extensions.conf"
      - "./etc/asterisk/http.conf:/etc/asterisk/http.conf"
      - "./etc/asterisk/logger.conf:/etc/asterisk/logger.conf"
      - "./etc/asterisk/manager.conf:/etc/asterisk/manager.conf"
      - "./etc/asterisk/modules.conf:/etc/asterisk/modules.conf"
      - "./etc/asterisk/musiconhold.conf:/etc/asterisk/musiconhold.conf"
      - "./etc/asterisk/res_parking.conf:/etc/asterisk/res_parking.conf"
      - "./etc/asterisk/stasis_amqp.conf:/etc/asterisk/stasis_amqp.conf"
      - "./ssl:/usr/local/share/ssl"
    command: "asterisk -fTn"

  calld:
    volumes:
      - ./etc/wazo-calld/conf.d/20-real-asterisk.yml:/etc/wazo-calld/conf.d/20-real-asterisk.yml
